<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="/may1319/css/bootstrap.min.css">
<script type="text/javascript" src="/may1319/js/jquery.min.js"></script>
<script type="text/javascript" src="/may1319/js/bootstrap.min.js"></script>

<style type="text/css">
  body {
    padding-top: 60px;
  }
</style>

</head>
<body class="body">

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/may1319">ISU ECpE Senior Design / Group 19</a>
      
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Weekly Reports <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for post in site.categories.weeklyreport %}
            <li><a href="/may1319{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        
        <li><a href="/may1319/team.html">Team</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
    <div>
      {{ content }}
    </div>
</div>
<br />
<footer class="footer">
  <div class="container">
    <p>Last modified: {{ site.time }}</p>
  </div>
</footer>
</body>
</html>
